/* html, body {
	width: 100vw !important;
	min-width: 100vw !important;
} */


html {
    font-size: 32px;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: fixed;
  top: 2px;
  z-index: 50;
}

.nav-title {
  margin: auto;
}

.nav-links {
  margin-right: 20px;
}

.nav > .nav-header {
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.book {
  background-color: #f68a2a;
}

.nav > .nav-links > a:hover {
  background-color: #f68a2a;
  transition: 1.50s;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    height: auto;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    padding: 13px;
  }

  label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #f68a2a;
    transition: 1.05s;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

  main {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url('./images/toktok-banner.jpg')center/cover;
}

main div {
    max-width: 500px;
    margin: 0px 12px;
}

.main {
    margin-top: 150px;
    margin-bottom: 100px;
}


  main h1 {
    font-size: 72px;
    margin: 0px 0px 10px;
  }

  span {
    color: #F68A2A;
  }

/* app store button */
  .downloads1,
  .downloads2 {
overflow: auto; 
}

.downloads2 img {
    width: 30%;
    margin-right: 2%;
}

.downloads1 img {
    width: 30%;
    margin-left: 2%;
}

.downloads1 img:last-child,
 .downloads2 img:last-child {
    margin-right: 5%;
}

/* Services */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Adjust the gap between grid items as needed */
}

/* Style the grid items */
.grid-item {
  padding: 20px;
  border: 1px solid #fbd100;
  font-size: 25px;
}

.grid-item> img{
  background-color: black;
  width: 15%;
}

.item2,.item3{
  margin-top: 30%;
  margin-bottom: -30%;
}

.item4, .item5{
  height: 50%;
  margin-top: 30%;
}

.item6,.item7{
  margin-top: 30%;
  margin-bottom: 30%;
}

.item2, .item4, .item6{
  margin-left: 20px;
}

.item3, .item5, .item7{
  margin-right: 20px;
}

.item1> img{
  width: 70vh;
  height: 100vh;
}

.item1 {
  grid-column: 2;
  grid-row: 2 
}

.item2 {
  grid-column: 1;
  grid-row: 1;
}

.item3 {
  grid-column: 3;
  grid-row: 1;
}

.item4 {
  grid-column: 1;
  grid-row: 2;
}

.item5 {
  grid-column: 3;
  grid-row: 2;
}

.item6 {
  grid-column: 1;
  grid-row: 3;
}

.item7 {
  grid-column: 3;
  grid-row: 3;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item1> img{
    width: 50vh;
    margin-left: 15%;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8,
  .item9 {
    grid-column: auto;
    grid-row: auto;
    margin: 20px;
  }

  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8,
  .item9 {
    height: auto;
  }
}

/* careers */

.careers {
  text-align: center;
}

.careers h1 {
  color: #F68A2A;
  font-size: 1.5rem;
}

.careers p {
  font-size: .8em;
}

.driver-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.driver img {
  width: 80%; /* Adjusted for responsiveness */
  height: auto;
  margin-top: -10%;
}

.driver h3 {
  color: rgb(19, 18, 18);
}

.driver {
  width: 25%;
  margin: 1%;
  padding: 10px;
  border-radius: 10px;
  background-color: #fbce65;
}

.rider h3 {
  margin-top: 8px;
}

.operator h3{
  margin-top: 0;
}

.rider button {
  margin-top: 2.3rem;
}

.go-driver button{
  margin-top: 1.3rem;
}

.operator button {
  margin-top: 3.2rem;
}

.driver a button {
  background-color: #f8f8f8;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  font-size: .5rem;
  font-weight: bold;
}

.driver a button:hover {
  background-color: #d07f37;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .driver {
    width: 80%;
    margin: 2% 0 10px 0;
  }
}

/* about us */
.about-us, .our-history {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
  }

  .about> h2 {
    color: #F68A2A;
    }

  .history> h2 {
    color: #F68A2A;
    }

  
  .about, .history{
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right, .flex-item-right2 {
    padding: 10px;
    flex: 50%;
  }

  .flex-item-right img{
    width: 100vh;;
    margin-right: 10%;
  }

  .flex-item-right2 img{
    width: 100vh;
    margin-top: 5%;
    margin-right: 10%;
    height: 90%;
  }
  
  @media (max-width: 1000px) {
    .about-us, .our-history  {
      flex-direction: column;
      margin-right: 50px;
      margin: 0% 10px 0 10px;
    }
  }

  /* about us / page 2 */

  .About {
    text-align: center;
    margin: 80px 50px 50px 50px;
}


  .About h2 {
    color: #F68A2A;
    text-align: center;
    font-size: 35px;
  }

  .About h3 {
    color: #F68A2A;
    text-align: center;
    font-size: 30px;
  }

  .About ul {
    text-align: center;
    font-size: 25px;
  }

  .About p {
    text-align: center;
    font-size: 25px;
  }

/* SERVICES / 2ND PAGE */

.our-services{
  text-align: center;
  margin: 80px 50px 50px 50px;
}

.our-services h2, h3 {
  color: #F68A2A
}

.our-services h2, h3 {
  font-size: 30px;
}

.our-services p {
  font-size: 25px;
}

.our-services h2, p {
  margin-bottom: 20px;
}

/* CONTACT US */

.section-contact {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(https://www.shutterstock.com/image-photo/contact-us-customer-support-hotline-600nw-2067737414.jpg);
  background-size: cover;
}

.container-info {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}


.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #F68A2A;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
  margin-left: 20px;
  margin-right: 20px;
}

.row-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
  width: 50%; /* Adjusted width */
}

.contact-info-item {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content>.adress{
  margin-top: 15%;
}

.contact-info-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.contact-info-content > a {
  color: #FFF;
}

.contact-info-content h4 {
  color: #F68A2A;
  font-size: 1em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 48%;
  box-sizing: border-box;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form p {
  font-size: 1em;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #f7a901;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #333;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #333;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #FFF;
  color: #333;
}


@media (max-width: 991px) {
  .section-contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row-info {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

/* terms and condition */

.terms {
  text-align: center;
  margin: 80px 50px 50px 50px;
}

.terms h1 {
  font-size: 1.5em;
  color: #f68a2a;
}

.terms p {
  font-size: 20px;
}

.conditions ol{
  font-size: 25px;
}

.conditions p {
  font-size: 25px;
}

.conditions {
  margin-left: 50px;
}
/* footer */

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #333;
    margin: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .column1{
    margin-left: 20px;
  }

  .column4{
    margin-right: 8px;
  }


  .column h4{
    font-size: 30px;
    color :#F68A2A;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500; 
    position: relative;
}

.column ul li a:hover{
    color:#F68A2A;
    padding-left: 8px;
    
}

.column ul li {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: -0.8s;
}

.column a {
    text-decoration: none;
    color: #fff;
}

.column p {
    color: #fff;
    font-size: 20px;
}

@media(max-width: 800px){
    .column {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .column {
        width: 100%;
        margin-bottom: 10px;
}
}

.allrights p {
    color: black
}

.allrights{
    display: flex;
    justify-content: center;
    background-color: #fff;
    text-align: center;
}
